//
// Notification
// --------------------------------------------------
.um-notification-area {
	margin-left : 10px;
	list-style-type:none;
}

.um-notification-option {
	margin-bottom: 35px;
	margin-top: 5px;
	text-align: center;
}

.um-notification-empty {
	text-align: center;	
}
